* {
    box-sizing: border-box;
    gap: 20px;
}

.container {
    display: grid;
    grid-template-columns: minmax(180px, 200px) 1fr minmax(180px, 200px);
    grid-template-areas: 
        "header header header"
        "hero hero hero"
        "sidebar main ads"
        "footer footer footer";
    border: 1px solid black;
}

.header {
    grid-area: header;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / -1;
    background: green;
    border: 1px solid black;
}

.hero {
    grid-area: hero;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-column: 1 / -1;
    grid-column: span 2;
    border: 1px solid black;
}


.sidebar {
    grid-area: sidebar;
    border: 1px solid black;
}

.main_content {
    grid-area: main;
    border: 1px solid black;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid black;
}

.card {
    border: 1px solid black;
}

.ads {
    grid-area: ads;
    border: 1px solid black;
}

.footer {
    grid-area: footer;
    width: 100%;
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}