/* Cách 1: Dùng border-box*/
* {box-sizing: border-box;}

.container {
    width: 960px;
    margin: 0 auto;
}
.sidebar {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    float: left;
}
.content {
    width: 660px;
    padding: 30px;
    border: 1px solid #ccc;
    float: left;
}

/*Cách 2: Không dùng border-box, tính toán lại trường width cho sidebar và content
.container {
    width: 960px;
    margin: 0 auto;
}
.sidebar {
    width: 258px;
    padding: 20px;
    border: 1px solid #ccc;
    float: left;
}
.content {
    width: 598px;
    padding: 30px;
    border: 1px solid #ccc;
    float: left;
}
*/